.APP-COLOR { color:antiquewhite;}
.APP-BACKGROUND { background-color: burlywood;}

/* Display */
.flex { display: flex;}
.justify-center { justify-content: center;}
.justify-between { justify-content: space-between;}
.justify-start { justify-content: start;}
.justify-evenly { justify-content: space-evenly;}
.justify-around { justify-content: space-around;}
.flex-direction { flex-direction: row;}
.g-3 {gap: 3;}
.g-5 {gap: 5;}

/* Padding */
.p-a-5 { padding: 5px;}
.p-a-10 { padding: 10px;}

/* Margin */
.m-a-5 { margin: 5px;}
.m-a-10 { margin: 10px;}
.m-l-10 {margin-left: 10px;}
.m-l-20 {margin-left: 20px;}
/* pointer */
.cursor { cursor: pointer;}

.image-message-box {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.button-on-image {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blanchedalmond;
  border-radius: 20px;
  padding: 10px 70px;
  color: gray;
  border: tan solid 2px;
  font-size: medium;
  cursor: pointer;
}


/* imageSlider.css */
.slider-container {
  width: 100%;
  margin: auto;
}

.slider-item {
  position: relative;
  height: auto;
  text-align: center;
}

.slider-image {
  width: 100%;
  height: 89vh;
}

.image-message-box {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
}

.image-message {
  font-size: medium;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.071);
  border-radius: 5px;
  padding: 10px 100px;
} 

/* Responsive styles */
@media (max-width: 768px) {
  .image-message-box {
      font-size: 14px;
      padding: 8px;
  }
  .flex-direction { flex-direction: column;}
  .slider-image { height: 60vh; }
}

/* image list view  */
.image-list-box {
  font-family: sans-serif;
  text-align: center;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hides scrollbar */
  &::-webkit-scrollbar {
    display: none; /* for Safari and Chrome */
  }
}

.image-item {
  background: #FF61F6;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin: 0 4px;
  white-space: nowrap;
}

.button {
  border: 0;
  color: #777;
  font-size: 24px;
  margin: 0 8px;
}

.image-card {
  position: relative;
  margin: 20px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-card img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.image-card .image-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.image-card:hover {
  transform: scale(1.1);
}

